.p-12px {
  padding: 12px !important;
}

.pt-12px {
  padding-top: 12px !important;
}

.pb-12px {
  padding-bottom: 12px !important;
}

.pl-12px {
  padding-left: 12px !important;
}

.pr-12px {
  padding-right: 12pc !important;
}

.py-20px {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

.p-32px {
  padding: 32px !important;
}

@media screen and (min-width: 768px) {
  .p-md-32px {
    padding: 32px !important;
  }
}

.pt-32px {
  padding-top: 32px !important;
}

.pb-32px {
  padding-bottom: 32px !important;
}

.py-32px {
  padding-bottom: 32px !important;
  padding-top: 32px !important;
}

.mt-12px {
  margin-top: 12px !important;
}

.mb-12px {
  margin-bottom: 12px !important;
}

.ml-12px {
  margin-left: 12px !important;
}

.mr-12px {
  margin-right: 12px !important;
}

.ml-20px {
  margin-left: 20px !important;
}

@media screen and (min-width: 768px) {
  .p-md-32px {
    padding: 32px !important;
  }
}

.header-top {
  top: -46px;
}

@media screen and (min-width: 768px) {
  .header-top {
    top: 0px;
  }
}

.header-height {
  height: 108px;
}

@media screen and (min-width: 768px) {
  .header-height {
    height: 62px;
  }
}

.hero-height {
  padding-top: calc(100vh - 108px - 16px - 16px);
}

@media screen and (min-width: 768px) {
  .hero-height {
    padding-top: calc(100vh - 62px - 16px - 16px);
  }
}

.results-page-top-ad-box {
  max-width: 320px;
  max-height: 100px;
}

.results-page-top-ad-iframe-box {
  width: 320px;
  height: 50px;
}

@media screen and (min-width: 768px) {
  .results-page-top-ad-box {
    max-width: 728px;
    max-height: 90px;
  }
}

@media screen and (min-width: 992px) {
  .results-page-top-ad-iframe-box {
    width: 728px;
    height: 90px;
  }
}

@media screen and (min-width: 1200px) {
  .results-page-top-ad-box {
    max-width: 970px;
    max-height: 250px;
  }
}

.results-page-aside-ad-box {
  flex: 0 0 auto;
}

@media screen and (min-width: 992px) {
  .results-page-aside-ad-box {
    flex-basis: 160px;
  }
}

@media screen and (min-width: 1200px) {
  .results-page-aside-ad-box {
    flex-basis: 300px;
  }
}

.results-page-aside-ad-top {
  top: 91px;
}

.results-page-aside-ad-iframe-box {
  display: inline-block;
  width: 160px;
  height: 600px;
}

@media screen and (min-width: 992px) {
  .post-form-width {
    max-width: 66.6667%;
  }
}
